
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
 
html {
  scroll-behavior: smooth;
}

*,
p,
a,
ul,
li,
ol,
pre,
span,
body,
table,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
a:hover,
a:focus,
span {
  transition: all 0.3s;
  text-decoration: none;
}

ul,
li,
ol {
  list-style-type: none;
}

input:focus,
select:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
	border-color: #eaeaea;
}

input:-internal-autofill-selected {
  background: #FFFFFF;
}

select.form-control {
	background: url("https://cdn-icons-png.flaticon.com/128/2985/2985150.png") no-repeat scroll right 10px center / 18px;
}

label {
	font-weight: bold;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--secondary_hover_color);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primary_color);
}

body {
  color: #111111;
  font-size: 14px;
  line-height: 1.5;
  min-width: 360px;
  overflow-x: hidden;
  background: #a5a5a5;
	font-family: 'Open Sans', sans-serif !important;
}

.back-bg {
	padding: 20px;
	overflow-y: auto;
	background: url("https://images.unsplash.com/photo-1547190027-9156686aa2f0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat scroll center center / cover;
	min-height: 100vh;
  max-height: 100%;
}

.login-inner {
	width: 100%;
	padding: 30px;
	max-width: 460px;
	border-radius: 20px;
	background: #ffffff;
	border: 1px solid #f5f5f5;
}

.basic-head {
	color: #ffffff;
	border-radius: 10px;
}

.pagination span, .pagination em, .pagination a {
	padding: 6px 10px;
  min-width: 38px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  color: #111111;
}

.pagination span:hover, .pagination em.current, .pagination a:hover {
	color: #ffffff;
  background: #0d6efd;
}