/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
 
body {
  background: #106eea;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #f8f9fa; /* Bootstrap's light color */
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #343a40; /* Bootstrap's dark color */
  border: 1px solid #343a40;
  color: #f8f9fa; /* Bootstrap's light color */
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da; /* Bootstrap's default border color */
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff; /* Bootstrap's primary color */
  border: 1px solid #007bff;
  color: #f8f9fa; /* Bootstrap's light color */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3; /* Bootstrap's primary darkened color */
  border: 1px solid #0056b3;
}

a {
  color: #efaaca;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
